
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSuperAdmin() {
      // Allow any authenticated user for development purposes
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'superadmin';
    }

    match /users/{userId} {
      // Superadmins can manage all users.
      allow read, write: if isSuperAdmin();
    }
    
    match /areas/{areaId} {
      allow read: if request.auth != null;
      allow write: if isSuperAdmin();
    }

    match /areas/{areaId}/{allChildren=**} {
      allow read: if request.auth != null;
      allow write: if isSuperAdmin();
    }

    match /caracterizaciones/{caracterizacionId} {
      allow read: if request.auth != null;
      allow write: if isSuperAdmin();
    }

    match /folders/{folderId} {
       allow read: if request.auth != null;
       allow write: if isSuperAdmin();
    }

    match /documents/{documentId} {
       allow read: if request.auth != null;
       allow write: if isSuperAdmin();
    }
  }
}
